<div class="modal-header position-relative pb-0">
    <button type="button" class="btn-close position-absolute top-0 end-0 m-2" data-bs-dismiss="modal" aria-label="Close" onclick="event_edit_dialog.close()"></button>
</div>
<h1 id="form_h1">Редактировать Событие</h1>
{{ form_start(form) }}
<div class="row">
    <div class="col">
        {{ form_row(form.dateBegin) }}
    </div>
    <div class="col">
        {{ form_row(form.dateEnd) }}
    </div>
</div>

{{ form_rest(form) }}
{{ form_end(form) }}
