{% extends 'base.html.twig' %}

{% block title %}Записи{% endblock %}

{% block body %}
    <a class="btn btn-primary bookly-js-staff-pills" data-staff_id="0" href="javascript:void(0);">Все</a>
    {% for key, value in resources %}
        <a class="btn btn-primary bookly-js-staff-pills" data-staff_id="{{ value.id }}" href="javascript:void(0);"
            {% if value.color %}
                style="background-color: {{ value.color }}"
            {% endif %}
        >

            {{ value.title }}
        </a>
    {% endfor %}

    <a class="btn btn-primary" data-staff_id="0" href="javascript:void(0);" onclick="ec.refetchEvents();">Обновить</a>


    <br />
    <br />
    <div id="ec"></div>
    <dialog id="event_edit_dialog" style="width: 80%"></dialog>

    <dialog id="dialog" style="width: 80%">
        {{ form_start(form) }}
        <h1 id="form_h1">Новая Запись</h1>
        <div class="section-one">
            <h2 style="font-weight: bold">Запись</h2>
            <div class="row">
                <div class="col">
                    {{ form_row(form.dateBegin) }}
                </div>
                <div class="col">
                    {{ form_row(form.dateEnd) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_row(form.service) }}
                </div>
                <div class="col">
                    {{ form_row(form.resource) }}
                </div>
            </div>
            {{ form_row(form.comment) }}
            {{ form_row(form.color) }}
            {{ form_row(form.clientsNumber) }}
        </div>
        <div class="section-two">
            <h2 style="font-weight: bold">Клиент</h2>
            <div class="row">
                <div class="col">
            {{ form_row(form.client.name) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                 {{ form_row(form.client.phone) }}
                </div>
                <div class="col">
                    {{ form_row(form.client.email) }}
                </div>
                <div class="col">
                    {{ form_row(form.client.telegram) }}
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col">
                    {{ form_row(form.cancel) }}
                </div>
               <div class="col">
                    {{ form_row(form.submit) }}
                </div>
             </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </dialog>



    <script type="text/javascript">

        const resources = {{ resources|json_encode()|raw }}

            function createDate(hours, minutes) {
                const now = new Date();
                now.setHours(hours);
                now.setMinutes(minutes);
                now.setSeconds(0);
                return now;
            }
        function showModal(event) {

            //console.log(event)

            document.getElementById('event_dateBegin').value = event.startStr;
            document.getElementById('event_dateEnd').value = event.endStr;


            document.getElementById('event_comment').value = "";
            document.getElementById('event_clientsNumber').value = 0;

            document.getElementById('event_client_name').value = "";
            document.getElementById('event_client_phone').value = "";
            document.getElementById('event_client_email').value = "";
            document.getElementById('event_client_telegram').value = "";


            const selectElement = document.getElementById("event_resource");
            const options = selectElement.getElementsByTagName("option");

            for (let i = 0; i < options.length; i++) {
                options[i].selected = options[i].value === event.resource.id;
            }


            dialog.event = event;
            dialog.showModal();
        }

        function hasOverlappingEvents(event) {
            return getOverlappingEvents(event).length > 0;
        }
        function hasOtherOverlappingEvents(event) {
            return getOverlappingEvents(event).filter(e => e.id != event.id).length > 0
        }
        function getOverlappingEvents(event) {
            // select event has event.resource.id
            // eventDrop event has event.resourceIds
            const rId = event.resource ? event.resource.id : event.resourceIds[0];
            return ec.getEvents().filter(e => e.resourceIds[0] == rId && e.start < event.end && e.end > event.start );
        }

        const ec = EventCalendar.create(document.getElementById('ec'), {
            unselectAuto :false,
            resources: resources,
            scrollTime: '09:00:00',
            allDaySlot: false,
            slotMinTime: '09:00:00',
            slotMaxTime: '23:00:00',
            nowIndicator: true,
            selectable: true,
            //slotLabelInterval:'00:30:00',
            views: {
                timeGridWeek: {pointer: true},
                resourceTimeGridWeek: {
                    pointer: true
                },
                timeGridDay: {pointer: true},
            },
            view: 'resourceTimeGridDay',
            buttonText: {
                resourceTimeGridDay: "день",
                listWeek: "неделя списком",
                resourceTimeGridWeek: "неделя",
                resourceTimelineMonth : "месяц",
                resourceTimelineWeek: "неделя вертикально",
                today: "сегодня"
            },
            headerToolbar: {
                start: 'prev,next today',
                center: 'title',
                end: 'resourceTimelineMonth ,resourceTimeGridWeek,resourceTimeGridDay,resourceTimelineWeek'
            },
            titleFormat : function(start, end) {
                const options = {
                    weekday: 'long', // Full day of the week (e.g., 'понедельник')
                    month: 'long',   // Full month name (e.g., 'ноябрь')
                    day: 'numeric',  // Day of the month (e.g., '23')
                };

                const s = new Intl.DateTimeFormat('ru-RU', options).format(start);

                return {html: s};
            },
            resourceLabelContent: function (info){
                return {
                    html: info.resource.title
                }
            },

            eventSources: [{
                url: '{{ path('app_ajax_events') }}',
                method: 'POST',
                extraParams: function () {
                    return {

                    };
                }
            }],

            select: function(event) {
                console.log(event)
                if ((event.display === 'background') || (event.editable  === false )){
                    return false;
                }
                document.getElementById('form_h1').textContent = "Новое событие";
                showModal(event);
            },
            eventResize: function (info) {
                if ((info.event.display === 'background') || (info.event.editable  === false )){
                    return false;
                }
                $.ajax({
                    url: "{{ path('app_ajax_event_resize') }}",
                    data: {
                        id: info.event.id,
                        start: new Date(info.event.start.getTime()).toISOString(),
                        end: new Date(info.event.end.getTime()).toISOString(),

                        // start: new Date(info.event.start.getTime() - (info.event.start.getTimezoneOffset() * 60000)).toISOString(),
                        // end: new Date(info.event.end.getTime() - (info.event.end.getTimezoneOffset() * 60000)).toISOString(),
                    },
                    method: "POST",
                    async: false, // This makes the call synchronous
                    success: function(data) {
                        if (data.success) {
                            data.flashMessages.forEach(function(flash) {
                                $.notify(flash, "success");
                            });
                        } else {
                            data.errors.forEach(function(flash) {
                                $.notify(flash, "error");
                            });
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error("AJAX Error:", error);
                    }
                });
            },
            eventDrop: function (info) {
                if ((info.event.display === 'background') || (info.event.editable  === false )){
                    return false;
                }
                $.ajax({
                    url: "{{ path('app_ajax_event_resize') }}",
                    data: {
                        id: info.event.id,
                        start: new Date(info.event.start.getTime()).toISOString(),
                        end: new Date(info.event.end.getTime()).toISOString(),
                    },
                    method: "POST",
                    async: false, // This makes the call synchronous
                    success: function(data) {
                        if (data.success) {
                            data.flashMessages.forEach(function(flash) {
                                $.notify(flash, "success");
                            });
                        } else {
                            data.errors.forEach(function(flash) {
                                $.notify(flash, "error");
                            });
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error("AJAX Error:", error);
                    }
                });
            },
            eventClick: function (info) {
                console.log(info)
                if ((info.event.display === 'background') || (info.event.editable === false )){
                    return false;
                }
                let result = null;
                $.ajax({
                    url: "{{ path('app_event_form_edit') }}",
                    data: {
                        id: info.event.id,
                    },
                    method: "POST",
                    async: false, // This makes the call synchronous
                    success: function(data) {
                        result = data;
                    },
                    error: function(xhr, status, error) {
                        console.error("AJAX Error:", error);
                    }
                });

                event_edit_dialog.innerHTML = result;
                //event_edit_dialog.getElementById('form_h1').textContent = "Редактировать событие " + info.event.start.toLocaleString() + " - " + info.event.end.toLocaleString();
                event_edit_dialog.showModal();
            }
        });


        async  function getResources() {
            let result = null;
            $.ajax({
                url: "{{ path('app_ajax_resources') }}",
                method: "GET",
                async: false, // This makes the call synchronous
                success: function(data) {
                    result = data;
                },
                error: function(xhr, status, error) {
                    console.error("AJAX Error:", error);
                }
            });
            console.log(result)
            return result; // This will now return the data after the synchronous call completes
        }

        function _pad(num) {
            let norm = Math.floor(Math.abs(num));
            return (norm < 10 ? '0' : '') + norm;
        }

function delete_event(id) {
    $.ajax({
        url: "{{ path('app_ajax_event_delete') }}",
        data: {
            id: id
        },
        method: "POST",
        async: false, // This makes the call synchronous
        success: function(data) {
            if (data.success) {
                data.flashMessages.forEach(function(flash) {
                    $.notify(flash, "success");
                    ec.refetchEvents();
                    event_edit_dialog.close();
                });
            } else {
                data.errors.forEach(function(flash) {
                    $.notify(flash, "error");
                });
            }
        },
        error: function(xhr, status, error) {
            console.error("AJAX Error:", error);
        }
    });
}

function create_event(id) {
    const form = document.querySelector('[name="event"]');
    const formData = new FormData(form); // Or serialize to JSON

    fetch(form.action, {
        method: form.method,
        body: formData, // Or JSON.stringify(Object.fromEntries(formData))
        headers: {
            'Accept': 'application/json' // Expecting JSON response
        }
    })
        .then(response => response.json()) // Parse JSON response
        .then(data => {
            if (data.success) {
                data.flashMessages.forEach(function(flash) {
                    $.notify(flash, "success");
                });
                dialog.event.backgroundColor = formData.color;
                if(typeof id !== 'undefined'){
                    event_edit_dialog.close()
                } else {
                    dialog.close()
                }
                ec.refetchEvents();
            } else {
                data.errors.forEach(function(flash) {
                    $.notify(flash, "error");
                });
            }
        })
        .catch(error => {
            console.error('Network error or server issue:', error);
        });
    }

        function getStaffMembers(elem){

            let _staff_id = $(elem).data('staff_id');
            let _staffMembers = [];

            if (_staff_id === 0) {
                $('.bookly-js-staff-pills').each(function (index, element) {
                    let id = $(element).data('staff_id');
                    let title = $(element).text();
                    if (id !== 0 ){
                        _staffMembers.push({id: id, title: title});
                    }

                })
            } else {
                let id = $(elem).data('staff_id');
                let title = $(elem).text();
                _staffMembers.push({id: id, title: title});
            }

            return _staffMembers
        }

        jQuery(function ($) {
            $staffLinks = $('.bookly-js-staff-pills')
            $staffLinks.on('click', function (e) {
                e.preventDefault();
                $staffLinks.removeClass('active');
                $(this).addClass('active');


                ec.setOption('resources', getStaffMembers(this));
                ec.refetchEvents();
            });
        })
    </script>


{% endblock %}

   {% block javascripts %}
       <script src="https://cdn.jsdelivr.net/npm/@event-calendar/build@5.0.2/dist/event-calendar.min.js"></script>
       <script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.9/dayjs.min.js"></script>
   {% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@event-calendar/build@5.0.2/dist/event-calendar.min.css">
    {% endblock %}
