{% extends 'base.html.twig' %}

{% block title %}Слоты{% endblock %}

{% block body %}
    <div class="alert  alert-dismissible fade" role="alert" id="ajaxMessage" style="display: none;">
        <span id="messageContent">111</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <br />
    <br />

    <a class="btn btn-primary bookly-js-staff-pills" data-staff_id="0" href="javascript:void(0);">Все</a>
    {% for i in m %}
        <a class="btn btn-primary bookly-js-staff-pills" data-staff_id="{{ i.id }}" href="javascript:void(0);">{{ i.title }}</a>
    {% endfor %}

    <a class="btn btn-primary" data-staff_id="0" href="javascript:void(0);" onclick="ec.refetchEvents();">Обновить</a>

    <br />
    <br />
    <div id="ec"></div>

<dialog id="dialog" style="width: 80%">
</dialog>


    <script type="text/javascript">

        const resources = {{ resources|json_encode()|raw }}

            function createDate(hours, minutes) {
                const now = new Date();
                now.setHours(hours);
                now.setMinutes(minutes);
                now.setSeconds(0);
                return now;
            }
        function showModal(event) {

            let result = null;
            $.ajax({
                url: "{{ path('app_slot_form_create') }}",
                data: {
                    id: event.id,
                },
                method: "POST",
                async: false, // This makes the call synchronous
                success: function(data) {
                    result = data;
                },
                error: function(xhr, status, error) {
                    console.error("AJAX Error:", error);
                }
            });
            dialog.innerHTML = result;

            document.getElementById('slot_dateBegin').value = event.startStr;
            document.getElementById('slot_dateEnd').value = event.endStr;

            document.getElementById('slot_description').value = "";
            document.getElementById('form_h1').textContent = "Новый слот " + event.start.toLocaleString() + " - " + event.end.toLocaleString();

            const select_all_checkbox = document.getElementById('form_select_all_checkbox');
            select_all_checkbox.checked = false;

            const time_checkbox = document.querySelectorAll('.time_checkbox'); // Select the div by its class
            time_checkbox.forEach(time_checkbox_element => {
                time_checkbox_element.checked = false;
            });

            containerDiv = document.querySelectorAll('.time_begin'); // Select the div by its class
            containerDiv.forEach(divElement => {
                const allInputs = divElement.querySelectorAll('input, select, textarea');
                allInputs.forEach(inputElement => {
                    inputElement.disabled = true;
                    if (inputElement.name.includes("hour")){
                        inputElement.selectedIndex = event.start.getHours()
                    }
                    if (inputElement.name.includes("minute")){
                        inputElement.selectedIndex = event.start.getMinutes()
                    }
                });
            });

            containerDiv = document.querySelectorAll('.time_end'); // Select the div by its class
            containerDiv.forEach(divElement => {
                const allInputs = divElement.querySelectorAll('input, select, textarea');

                allInputs.forEach(inputElement => {
                    inputElement.disabled = true;
                    if (inputElement.name.includes("hour")){
                        inputElement.selectedIndex = event.end.getHours()
                    }
                    if (inputElement.name.includes("minute")){
                        inputElement.selectedIndex = event.end.getMinutes()
                    }
                });
            });


            const selectElement = document.getElementById("slot_resource");
            // const options = selectElement.getElementsByTagName("option");
            //
            // if (event.resource) {
            //     for (let i = 0; i < options.length; i++) {
            //         options[i].selected = options[i].value === event.resource.id;
            //     }
            // }



            dialog.event = event;
            dialog.showModal();
        }

        function hasOverlappingEvents(event) {
            return getOverlappingEvents(event).length > 0;
        }
        function hasOtherOverlappingEvents(event) {
            return getOverlappingEvents(event).filter(e => e.id != event.id).length > 0
        }
        function getOverlappingEvents(event) {
            // select event has event.resource.id
            // eventDrop event has event.resourceIds
            if (!event.resource) return false

            const rId = event.resource ? event.resource.id : event.resourceIds[0];
            return ec.getEvents().filter(e => e.resourceIds[0] == rId && e.start < event.end && event.start < e.end);
        }

        const ec = EventCalendar.create(document.getElementById('ec'), {
            view: 'resourceTimeGridDay',
            headerToolbar: {
                start: 'prev,next today',
                center: 'title',
                end: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek resourceTimeGridWeek,resourceTimelineWeek'
            },
            resources: resources,
            scrollTime: '09:00:00',
            eventSources: [{
                url: '{{ path('app_ajax_slot') }}',
                method: 'POST',
                extraParams: function () {
                    return {

                    };
                }
            }],
            allDaySlot: false,
            slotMinTime: '09:00:00',
            slotMaxTime: '23:00:00',
            dayMaxEvents: true,
            nowIndicator: true,
            selectable: true,
            select: function(event) {
                if ((event.display === 'background') || (event.editable  === false )){
                    return false;
                }

                showModal(event);
            },
            eventResize : function (info) {
                if ((info.event.display === 'background') || (info.event.editable  === false )){
                    return false;
                }
                $.ajax({
                    url: "{{ path('app_ajax_slot_resize') }}",
                    data: {
                        id: info.event.id,
                        start: new Date(info.event.start.getTime() - (info.event.start.getTimezoneOffset() * 60000)).toISOString(),
                        end: new Date(info.event.end.getTime() - (info.event.end.getTimezoneOffset() * 60000)).toISOString(),
                    },
                    method: "POST",
                    async: false, // This makes the call synchronous
                    success: function(data) {
                        if (data.success) {
                            data.flashMessages.forEach(function(flash) {
                                $.notify(flash, "success");
                            });
                        } else {
                            data.errors.forEach(function(flash) {
                                $.notify(flash, "error");
                            });
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error("AJAX Error:", error);
                    }
                });
            },

            eventClick: function (info) {
                console.log(info)
                if ((info.event.display === 'background') || (info.event.editable === false )){
                    return false;
                }
                let result = null;
                $.ajax({
                    url: "{{ path('app_slot_form_edit') }}",
                    data: {
                        id: info.event.id,
                    },
                    method: "POST",
                    async: false, // This makes the call synchronous
                    success: function(data) {
                        result = data;
                    },
                    error: function(xhr, status, error) {
                        console.error("AJAX Error:", error);
                    }
                });
                dialog.innerHTML = result;
                dialog.showModal();
            }
        });


        async  function getResources() {
            let result = null;
            $.ajax({
                url: "{{ path('app_ajax_resources') }}",
                method: "GET",
                async: false, // This makes the call synchronous
                success: function(data) {
                    result = data;
                },
                error: function(xhr, status, error) {
                    console.error("AJAX Error:", error);
                }
            });
            console.log(result)
            $('#dialog').innerHTML = result
            dialog.showModal();
        }

        function _pad(num) {
            let norm = Math.floor(Math.abs(num));
            return (norm < 10 ? '0' : '') + norm;
        }


        document.addEventListener('DOMContentLoaded', function() {
            const form = document.querySelector('[name="event"]');

            if (form) {
                form.addEventListener('submit', function(event) {
                    event.preventDefault(); // Prevent default form submission

                    const formData = new FormData(form); // Or serialize to JSON

                    fetch(form.action, {
                        method: form.method,
                        body: formData, // Or JSON.stringify(Object.fromEntries(formData))
                        headers: {
                            'Accept': 'application/json' // Expecting JSON response
                        }
                    })
                        .then(response => response.json()) // Parse JSON response
                        .then(data => {
                            if (data.success) {
                                data.flashMessages.forEach(function(flash) {
                                    // Create and append a div for the flash message
                                    $.notify(flash, "success");
                                });
                            } else {
                                Object.keys(data.errors).forEach(key => {
                                    console.log(data.errors)
                                    $.notify(data.errors[key][0],"error");
                                });
                            }
                            dialog.close();
                            ec.refetchEvents();
                        })
                        .catch(error => {
                            console.error('Network error or server issue:', error);
                        });
                });
            }
        });

        function getStaffMembers(elem){

            let _staff_id = $(elem).data('staff_id');
            let _staffMembers = [];

            if (_staff_id === 0) {
                $('.bookly-js-staff-pills').each(function (index, element) {
                    let id = $(element).data('staff_id');
                    let title = $(element).text();
                    if (id !== 0 ){
                        _staffMembers.push({id: id, title: title});
                    }

                })
            } else {
                let id = $(elem).data('staff_id');
                let title = $(elem).text();
                _staffMembers.push({id: id, title: title});
            }

            return _staffMembers
        }

        jQuery(function ($) {
            $staffLinks = $('.bookly-js-staff-pills')
            $staffLinks.on('click', function (e) {
                e.preventDefault();
                $staffLinks.removeClass('active');
                $(this).addClass('active');


                ec.setOption('resources', getStaffMembers(this));
                ec.refetchEvents();
            });
        })

        function checkAllExceptSelf(selfCheckbox)
        {
            const form = selfCheckbox.closest('form');
            const checkboxes = form.querySelectorAll('.time_checkbox');

            // Iterate through the checkboxes and check them, excluding the selfCheckbox
            checkboxes.forEach(checkbox => {
                if (checkbox !== selfCheckbox) {
                    checkbox.checked = selfCheckbox.checked;
                    toggleBeginEnd(checkbox)
                }
            });
        }

        function toggleBeginEnd(selfCheckbox)
        {
            const tr = selfCheckbox.closest('tr');
            const allSelects = tr.querySelectorAll('select');
            allSelects.forEach(input => {
                if (input !== selfCheckbox) {
                    input.disabled = !selfCheckbox.checked;
                }
            });
        }

        function popoverButtons(arg) {
            const $buttons = arg.view.type === 'listWeek' ? $('<div class="mt-2 d-flex"></div>') : $('<div class="mt-2 d-flex justify-content-end border-top pt-2"></div>');
            let props = arg.event.extendedProps;
            if (props.hasOwnProperty('type') && props.type === 'event') {
                $buttons.append(
                    $('<a class="btn btn-success btn-sm mr-1">').append('<i class="fas fa-fw fa-users">')
                        .attr('title', 'obj.options.l10n.events.attendees')
                        .on('click', function (e) {
                            e.stopPropagation();
                        })
                );
            } else {
                $buttons.append($('<button class="btn btn-success btn-sm mr-1">').append('<i class="far fa-fw fa-edit">'));

                $buttons.append(
                    $('<a class="btn btn-danger btn-sm text-white">').append('<i class="far fa-fw fa-trash-alt">')
                        .attr('title', 'Удалить')
                        .on('click', function (e) {
                            e.stopPropagation();
                        })
                );
            }

            return $buttons;
        }
    </script>


{% endblock %}

    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/@event-calendar/build@4.7.1/dist/event-calendar.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.9/dayjs.min.js"></script>
    {% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@event-calendar/build@4.7.1/dist/event-calendar.min.css">

        <style>
            .ec-timeline .ec-time, .ec-timeline .ec-line {
                width: 16px;
            }
            .ec-timeline .ec-time {
                overflow: visible;
            }
            .ec-timeline .ec-time time {
                display: inline-block;
                width: 64px;
                text-align: center;
            }
        </style>
    {% endblock %}



