<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_default') }}">Главная</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if is_granted('ROLE_SELLER') or is_granted('ROLE_MASTER') or is_granted('ROLE_MANAGER')%}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('app_event') }}">Записи</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_MANAGER') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_slot_index') }}">Слоты</a>
                    </li>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a class="nav-link" href="{{ path('fos_user_security_logout') }}">Выход</a>
                {% else %}
                    <a class="nav-link" href="{{ path('fos_user_security_login') }}">Вход</a>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
